/**************************/
/*  styles for about page */
/**************************/
body {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.name_container {
  background-color: red;
  width: 344px;
  font-size: 2.5em;
  padding: 20px 20px 20px 20px;
}
.content_container {
  max-width: 768px;
}
.image_container {
  background-color: green;
  height: 344px;
  width: 344px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 20px 20px 20px;
}
.bio_container {
  background-color: blue;
  width: 344px;
  float: left;
  font-size: 1.5em;
  text-align: left;
  padding: 20px 20px 20px 20px;
}
.news_container {
  background-color: orange;
  width: 344px;
  padding: 20px 20px 20px 20px;
}
